html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  background: #e5e5e5;
  background: linear-gradient(90deg, #f4f4f4 50%, #d9e3ef 0%);
}

.container {
  max-width: 1201px;
  width: 100%;
  margin: 0 auto;
}
header {
}
.nav {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 19px;
}
.dolly {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  border: 2px solid rgb(0, 0, 0);
  width: 106px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
}
.ul {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  display: flex;
  gap: 65px;
  margin-left: 24px;
  padding: 0;
  margin: 0;
  margin-left: 65px;
}
.ul li,
a {
  text-decoration: none;
  list-style: none;
}

.ico {
  display: flex;
  gap: 19px;
  margin-left: 523px;
  padding-bottom: 12px;
}
.ico1 {
  width: 22px;
  height: 19px;
}
.ico2 {
  width: 22px;
  height: 19px;
}
.ico3 {
  width: 22px;
  height: 19px;
}
.text {
  margin-top: 251px;
  margin-left: 16px;
  position: relative;
  z-index: 2;
  margin-top: 251px;
  margin-left: 21px;
}
.h1 {
  color: rgb(55, 55, 55);
  font-size: 60px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
  width: 529px;
  position: relative;
  z-index: 3;
}
.button {
  width: 211px;
  height: 66px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
  background-color: rgb(55, 55, 55);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 60px;
  margin-left: 2px;
  padding-top: 4px;
  position: relative;
  z-index: 3;
}
.dolly__image {
  background-image: url(../img/img.png);
  width: 968px;
  height: 967px;
  position: absolute;
  top: -304px;
  left: 210px;
  z-index: 1;
}
@media screen and (max-width: 1240px) {
  .ul,
  .ico {
    margin-left: 0px;
  }
  .nav {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .text,
  .h1 {
    text-align: center;
    margin: 0 auto;
  }
  .text {
    margin-top: 480px;
  }

  .dolly__image {
    top: -514px; /* Поднимаем изображение, чтобы оно лучше располагалось */
    left: 50%; /* Центрируем изображение */
    transform: translateX(
      -50%
    ); /* Дополнительно центрируем относительно его ширины */
  }
  .h1 {
    width: 100%;
  }
}

@media screen and (max-width: 868px) {
  .nav {
    flex-direction: column;
    margin: 0;
    margin-top: 50px;
    gap: 50px;
  }

  .dolly__image {
    width: 100%;
    top: -514px;
    left: 0;
    transform: none;
  }
}
@media screen and (max-width: 840px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
  .ul {
    flex-direction: column;
  }
}
